.ofIntro {
  height: 100%;
}
.ofIntro .navbar {
  width: 100%;
  position: absolute;
}
.ofIntro .introRow {
  margin-right: 0;
}
.ofIntro .introRow .theIntroduction {
  background: url('../images/tennis1.jpg') center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  position: relative;
}
.ofIntro .introRow .theIntroduction .introContent {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  width: 100%;
}
.ofIntro .introRow .theIntroduction .introContent h1 {
  font-size: 100px;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.ofIntro .introRow .theIntroduction .introContent p {
  font-size: 25px;
  background: rgba(0, 0, 0, 0.3);
  padding-left: 15px;
  padding-right: 15px;
}
.ofIntro .introRow .theIntroduction .missionContent {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  color: white;
  width: 100%;
}
.ofIntro .introRow .theIntroduction .missionContent h2 {
  font-size: 100px;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.ofIntro .introRow .theIntroduction .missionContent p {
  font-size: 25px;
  background: rgba(0, 0, 0, 0.3);
  padding-left: 15px;
  padding-right: 15px;
}
.ofIntro .introRow .theIntroduction .introBanner {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
@media (max-width: 576px) {
  .ofIntro .introRow .theIntroduction {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 0px;
  }
}
