header {
  background: url('../images/header/americanFootball2.jpg') center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
  position: relative;
}
header .container-fluid {
  z-index: 1;
  padding-left: 0px;
  padding-right: 0px;
}
header .container-fluid .banner {
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
header .container-fluid .navbar {
  position: absolute;
  background: rgba(31, 31, 39, 0.5);
  padding: 0;
  width: 100%;
  z-index: 9999;
  font-family: 'Gentium Basic';
  cursor: pointer;
}
header .container-fluid .navbar .theLogo {
  padding: 7px 7px;
}
header .container-fluid .navbar .theLogo img {
  width: 30%;
}
header .container-fluid .navbar button span {
  color: white;
}
header .container-fluid .navbar .navbar-collapse {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .container-fluid .navbar .navbar-collapse .navbar-nav .nav-item {
  margin-left: 45px;
}
header .container-fluid .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  border-bottom: 5px solid transparent;
  padding-top: 27px;
  padding-bottom: 26px;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}
header .container-fluid .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 5px solid white;
  -webkit-transition: .5s linear;
  -o-transition: .5s linear;
  transition: .5s linear;
}
header .container-fluid .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  min-width: 9rem;
  background: rgba(31, 31, 39, 0.5);
}
header .container-fluid .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: white;
}
header .container-fluid .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: rgba(31, 31, 39, 0.5);
}
header .container-fluid .header-content {
  background: red;
  height: 100vh;
}
header .container-fluid .header-content .theOne,
header .container-fluid .header-content .theTwo,
header .container-fluid .header-content .theThree {
  padding-top: 150px;
}
header .container-fluid .header-content .theOne p,
header .container-fluid .header-content .theTwo p,
header .container-fluid .header-content .theThree p {
  font-size: 150px;
  font-weight: bolder;
  color: snow;
}
header .container-fluid .header-content .theOne img,
header .container-fluid .header-content .theTwo img,
header .container-fluid .header-content .theThree img {
  top: 100px;
}
header .container-fluid .header-content .owl-carousel {
  height: 100%;
  background: black;
}
header .container-fluid .header-content .theOne {
  background-image: url("../images/our-programs/4-guys-china.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
  text-align: center;
}
header .container-fluid .header-content .theOne .ind-banner {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}
header .container-fluid .header-content .theOne img {
  width: 30%;
  margin: auto;
  position: absolute;
  z-index: 2;
  left: 37%;
}
header .container-fluid .header-content .theOne .country-name {
  position: absolute;
  z-index: 2;
  left: 40%;
  bottom: 20px;
}
header .container-fluid .header-content .theTwo {
  background-image: url("../images/dude/australia1.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
  text-align: center;
}
header .container-fluid .header-content .theTwo img {
  width: 30%;
  margin: auto;
  position: absolute;
  z-index: 2;
  left: 37%;
}
header .container-fluid .header-content .theTwo .country-name {
  position: absolute;
  z-index: 2;
  left: 35%;
  bottom: 20px;
}
header .container-fluid .header-content .theThree {
  background: url('../images/header/americanFootball2.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
  text-align: center;
}
header .container-fluid .header-content .theThree .ind-banner {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}
header .container-fluid .header-content .theThree img {
  width: 30%;
  margin: auto;
  position: absolute;
  z-index: 2;
  left: 37%;
}
header .container-fluid .header-content .theThree .country-name {
  position: absolute;
  z-index: 2;
  left: 43%;
  bottom: 20px;
}
header .container-fluid .header-content .owl-dots {
  position: absolute;
  bottom: 50px;
  left: 49%;
}
@media (max-width: 1400px) {
  header {
    background: green;
  }
}
@media (max-width: 576px) {
  header {
    height: 100vh;
    -webkit-background-size: cover;
            background-size: cover;
  }
  header .container-fluid .navbar button span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(265, 265, 265, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    cursor: pointer;
  }
  header .container-fluid .header-content .theOne p,
  header .container-fluid .header-content .theTwo p,
  header .container-fluid .header-content .theThree p {
    font-size: 80px;
    font-weight: bolder;
    color: snow;
  }
  header .container-fluid .header-content .theOne img,
  header .container-fluid .header-content .theTwo img,
  header .container-fluid .header-content .theThree img {
    top: 100px;
  }
  header .container-fluid .header-content .theOne img {
    width: 80%;
    left: 13%;
  }
  header .container-fluid .header-content .theOne .country-name {
    width: 100%;
    left: 0px;
    bottom: 60px;
    text-align: center;
  }
  header .container-fluid .header-content .theTwo img {
    width: 80%;
    left: 13%;
  }
  header .container-fluid .header-content .theTwo .country-name {
    width: 100%;
    left: 0px;
    bottom: 60px;
    text-align: center;
  }
  header .container-fluid .header-content .theThree img {
    width: 80%;
    left: 13%;
  }
  header .container-fluid .header-content .theThree .country-name {
    width: 100%;
    left: 0px;
    bottom: 60px;
    text-align: center;
  }
  header .container-fluid .header-content .owl-dots {
    position: absolute;
    bottom: 50px;
    left: 38%;
  }
}
