header {
  background: url('../images/header/americanFootball2.jpg') center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 9999;
}
header .container-fluid {
  z-index: 2;
  padding-left: 0;
  padding: 0;
}
header .container-fluid .banner {
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
header .container-fluid .navbar {
  background: #1f1f27;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  z-index: 9999;
  font-family: 'Gentium Basic';
  cursor: pointer;
}
header .container-fluid .navbar .theLogo {
  padding: 7px 7px;
}
header .container-fluid .navbar .theLogo img {
  width: 30%;
}
header .container-fluid .navbar button span {
  color: white;
}
header .container-fluid .navbar .navbar-collapse {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .container-fluid .navbar .navbar-collapse .navbar-nav .nav-item {
  margin-left: 45px;
}
header .container-fluid .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  border-bottom: 5px solid transparent;
  padding-top: 27px;
  padding-bottom: 26px;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}
header .container-fluid .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 5px solid white;
  -webkit-transition: .5s linear;
  -o-transition: .5s linear;
  transition: .5s linear;
}
header .container-fluid .headerContent {
  height: 88vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container-fluid .headerContent .mySlider {
  -webkit-animation: none;
          animation: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container-fluid .headerContent .mySlider .carousel {
  position: relative;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner {
  margin: 0;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner .carousel-item .theSliderContent .slider-img {
  margin: auto;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner .carousel-item .theSliderContent .slider-img img {
  width: 70%;
  height: auto;
  margin: auto;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner .carousel-item .theSliderContent .slider-img .redLine {
  width: 100%;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner .carousel-item .theSliderContent .slider-info {
  padding-top: 40px;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner .carousel-item .theSliderContent .slider-info h3 {
  font-family: 'Gentium Basic';
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner .carousel-item .theSliderContent .slider-info h3 span {
  color: #0c2335;
  letter-spacing: 0.75px;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner .carousel-item .theSliderContent .slider-info p {
  font-size: 18px;
  opacity: 0.9;
  font-weight: 300;
  color: white;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner .carousel-item .carousel-control-prev {
  border: 1px dashed black;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner .carousel-item .carousel-control-prev .carousel-control-prev-icon {
  border: 1px dashed black;
}
header .container-fluid .headerContent .mySlider .carousel .carousel-inner .carousel-item .carousel-control-next {
  border: 1px dashed black;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
