.informationOut{
    // background: red;
    // height: 100vh;
    padding: 10px 0;
    .informationIn{
        padding-top: 50px;
        .row{
            
            .whyStudy{
                border: 1px dashed black;
                h2{
                    margin: 10px;
                    border: 1px dashed red;
                    font-size: 50px;
                    font-weight: 200;
                
                }
                p{
                font-weight: 200;
                    .openMore{
                        cursor: pointer;
                    }
                    .more{
                        display: none;
                    }
                }
            }
            .advantages{
                border: 1px dashed white;
                display: none;
                font-weight: 200; 
                h2{
                font-weight: 200;                 
                }                   
            }
        }
    }
}